:root {
  --main-color: #212121;
  --grey: #757575;
  --footer-mail-number: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --blue: #2196f3;
  --black: #000000;
  --list-gap: 30px;
}
*,
*::before *::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
img:last-child {
  margin: 0;
}
button {
  cursor: pointer;
}
body {
  color: var(--main-color);
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*Навігація*/
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  display: flex;
  align-items: center;
}
.logo {
  letter-spacing: 0.03em;
}
.page-header__container .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo .logo--blue {
  color: var(--blue);
}
.logo .logo--black {
  color: var(--black);
}
.logo .logo--white {
  color: var(--white);
}

.page-header__nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .site-nav__list:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-nav__link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .site-nav__link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: var(--blue);
}
.site-nav .site-nav__link--current {
  color: var(--blue);
}
.site-nav .site-nav__link--current::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--blue);
  bottom: -1px;
  left: 0;
  transform: scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-nav__link:hover::after,
.site-nav .site-nav__link:focus::after {
  transform: scaleX(1);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts .list-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts .list-contacts__link {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .list-contacts__link:hover,
.contacts .list-contacts__link:focus {
  color: var(--blue);
}
.list-contacts__icon--mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.list-contacts__icon:hover,
.list-contacts__icon:focus {
  color: var(--blue);
}
.list-contacts__item .list-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-contacts__icon--tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.tel:hover,
.tel:focus {
  color: var(--blue);
}
.list-contacts__item .list-contacts__icon--tel {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Герой*/
.hero {
  background-color: #2f303a;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  color: var(--white);
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.modal--btn {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  border: 0;
}
.modal--btn:hover .modal--btn:focus {
  color: var(--blue);
}
/*cекція1*/
.features-list__desc {
  color: var(--grey);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.features-list {
  display: flex;
  gap: 30px;
}
.features-list > .features-list__card {
  width: calc((100% - 90px) / 4);
  margin-right: 0;
}
.features-list:nth-child(4) {
  margin-right: 0px;
}
.features-list__wrapper {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
.features-list__icon {
  height: 70px;
  width: 70px;
}
/*Сервіси*/
.services {
  padding-top: 0;
}
.services__title,
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.services-list {
  display: flex;
  gap: 30px;
}
.services-list > .services-list__card {
  width: calc((100% - 60px) / 3);
  margin-right: 0;
}

.services-list:nth-child(3) {
  margin-right: 0px;
}
.services-list__card .services-list__link {
  display: block;
}
.services-list__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.services-list__overlay {
  position: relative;
}
/*Команда*/
.team {
  background-color: #f5f4fa;
}
.team .team-list__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.team .position {
  color: var(--grey);
  margin-bottom: 16px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-list__card {
  text-align: center;
  width: calc((100% - 90px) / 4);
  margin-right: 0;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list:nth-child(4) {
  margin-right: 0px;
}
.team-div {
  background-color: var(--white);
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-list__link {
  display: flex;
  color: #afb1b8;
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:nth-child(:first-child) {
  margin-left: 0;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list__link:hover,
.social-list__link:focus {
  color: var(--white);
  background-color: var(--blue);
}
/*Клієнти*/
.clients {
  text-align: center;
}
.clients__title {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__card {
  margin-right: 30px;
}

.clients-list__card:last-child {
  margin-right: 0px;
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--blue);
  border-color: var(--blue);
}
.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/*======Футер========*/
.footer .footer__container {
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer .logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.adress-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
}
.adress-list .address-list__city {
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list .address-list__link {
  color: var(--footer-mail-number);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list .address-list__city:hover,
.adress-list .address-list__link:hover,
.adress-list .address-list__link:hover {
  color: var(--blue);
}

.footer-list {
  margin-top: 9px;
  margin-bottom: 0px;
}

.social {
  margin-left: 70px;
}

.social-title {
  color: var(--white);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list {
  margin-right: 10px;
}
.social-list:last-child {
  margin-right: 0;
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--blue);
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-title,
.news-title {
  color: var(--white);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.subscribe-news {
  margin-left: 93px;
}
.subscribe-news input {
  color: var(--footer-mail-number);
}
.icon-btn {
  fill: var(--white);
}
/*Потфоліо кнопки*/
.filters .filters__button {
  color: var(--main-color);
  background-color: #f5f4fa;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  min-width: 73px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters .filters__button:hover,
.filters .filters__button:focus {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filters :not(:last-child) {
  margin-right: 8px;
}
/*Портфоліо Список*/
.projects-list .service {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}
.portfolio-list {
  padding: 20px 24px;
  border-top: 0;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.projects-list .descrip {
  color: var(--grey);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.projects-list .projects-list__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-list__card {
  width: calc((100% - 60px) / 3);
  background-color: var(--white);
}
.projects-list .projects-list__link:hover,
.projects-list .projects-list__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list:nth-child(3n) {
  margin-right: 0;
}
.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  text-align: left;
  color: var(--white);
  margin: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list .projects-list__link:hover .overlay {
  transform: translateY(0);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*хідден*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*modal*/
.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  height: 581px;
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  color: var(--white);
  background-color: var(--white);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  fill: var(--blue);
}
.icon-vector {
  fill: currentColor;
}

input:hover + .form-icon {
  fill: var(--blue);
}
input:focus + .form-icon {
  fill: var(--blue);
}

.input-wrapper input:focus,
.input-wrapper input:hover {
  border-color: var(--blue);
  outline-color: var(--blue);
}
.signup-form textarea:focus,
.signup-form textarea:hover {
  border-color: var(--blue);
  outline-color: var(--blue);
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-icon {
  display: block;
  width: 16px;
  fill: var(--white);
  height: 15px;
  border: 2px solid var(--main-color);
  color: var(--white);
  margin-right: 8.38px;
  border-radius: 2px;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon use {
  display: none;
}
.check-input:checked + .check-icon use {
  display: inline-block;
}
.check-input:checked + .check-icon {
  border: none;
  background-color: var(--blue);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  height: 120px;
  width: 448px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.signup-form {
  text-align: center;
}
.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-title,
.form-checkbox {
  margin-top: 0;
  margin-bottom: 30px;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}
.form-checkbox {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
  color: var(--grey);
}
.form-checkbox a {
  color: var(--blue);
  text-decoration-line: underline;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.form-field input {
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px 30px;
  padding-left: 42px;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font: inherit;
  line-height: 1.13;
}
.input-wrapper {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  color: var(--white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field label,
.form-comment label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--grey);
}
.btn-submit {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 52px 10px 52px;
  min-width: 200px;
  border: 1px solid var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:focus,
.btn-submit:hover {
  background-color: var(--blue);
}

.subscribe-news [type='submit'] {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 62px 10px 28px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid var(--blue);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
}

.footer-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form input {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
}
.footer-form input:focus {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}
.submit {
  position: relative;
}

.icon-btn {
  color: var(--white);
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
