.features {
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    @media screen and (max-width: 479px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
.features-list__desc {
    color: var(--grey);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 0px;
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
      }
}

.features-list {
    display: flex;
    gap: 30px;

    &:nth-child(4) {
        margin-right: 0px;
    }
}

.features-list>.features-list__card {
    width: calc((100% - 90px) / 4);
    margin-right: 0;
}

.features-list__wrapper {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    @media screen and (min-width: 480px) {
        width: 450px;
      }
      @media screen and (min-width: 768px) {
        width: 354px;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
      }
}

.features-list__icon {
    height: 70px;
    width: 70px;
}
