.features-list__desc {
    color: var(--grey);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: 450px;


    @media screen and(max-width: 767px) {
        text-align: center;
      }
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    width: 450px;
    @media screen and(max-width: 767px) {
        text-align: center;
      }
    

}

.features-list {
    //  display: flex;
    //  gap: 30px;

    // &:nth-child(4) {
    //     margin-right: 0px;
    // }
    // @extend %ul;

    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(-1 * 30px);
      margin-left: calc(-1 * 30px);
    }
    @media screen and(min-width:1200px) {
      flex-wrap: nowrap;
    }
  
}

.features-list>.features-list__card {
    width: calc((100% - 90px) / 4);
    margin-right: 0;
}

.features-list__card {
    width: 450px;
    text-align: center;
    justify-content: center;
    @media screen and(max-width: 767px) {
      margin-bottom: 30px;
    }
  
    @media screen and(min-width:768px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-top: 30px;
      margin-left: 30px;
    }
  
    @media screen and(min-width:1200px) {
      width: calc((100% - 120px) / 4);
    }
  }

.features-list__wrapper {
    background-color: #f5f4fa;
    width: 450px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features-list__icon {
    height: 70px;
    width: 70px;
}