.footer .footer__container {
    display: flex;
    align-items: baseline;
}

.footer {
    background-color: #2f303a;
    padding: 60px 0;
}

.footer .logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.adress-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 20px;
}

.adress-list .address-list__city {
    color: var(--white);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list .address-list__link {
    color: var(--footer-mail-number);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list .address-list__city:hover,
.adress-list .address-list__link:hover,
.adress-list .address-list__link:hover {
    color: var(--blue);
}

.footer-list {
    margin-top: 9px;
    margin-bottom: 0px;
}

.social {
    margin-left: 70px;
}

.social-title {
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--blue);
        }
}

.social-list {
    margin-right: 10px;
}

.social-list:last-child {
    margin-right: 0;
}

.footer-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social-title,
.news-title {
    color: var(--white);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.subscribe-news {
    margin-left: 93px;
}

.subscribe-news input {
    color: var(--footer-mail-number);
}
.footer-form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form input {
    margin: 0;
    padding: 0;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
}

.footer-form input:focus {
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
}