// .hero {
//   background-color: #2f303a;
//   max-width: 480px;
//   height: 400px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 118px;
//   padding-bottom: 118px;
//   // padding-top: 200px;
//   // padding-bottom: 200px;
//   color: var(--white);
//   text-align: center;
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/headerbg/Header-mob.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;

//   @media (min-device-pixel-ratio: 2),
//     (-webkit-min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     & {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url('../images/headerbg/Header-mob@2x.jpg');
//       background-color: #2f303a;
//     }
//   }

//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//     min-height: 400px;

//     & {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url('../images/headerbg/Header-tab.jpg');
//       background-color: #2f303a;
//     }
//   }

//   @media (min-device-pixel-ratio: 2),
//     (-webkit-min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     & {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url('../images/headerbg/Header-tab@2x.jpg');
//       background-color: #2f303a;
//     }
//   }

//   @media screen and (min-width: 1200px) {
//     max-width: 1600px;
//     min-height: 600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     & {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url('../images/headerbg/bgpc.jpg');
//       background-color: #2f303a;
//       height: 600px;
//     }
//   }

//   @media (min-device-pixel-ratio: 2),
//     (-webkit-min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     & {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url('../images/headerbg/bg@2x.jpg');
//       background-color: #2f303a;
//     }
//   }
// }

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
   width:100%;
  height: 400px;
  // padding-top: 200px;
  // padding-bottom: 200px;
  // max-width: 1600px;
  // height: 600px;
  text-align: center;
  color: var(--white);
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/headerbg/Header-mob.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerbg/Header-mob@2x.jpg');
      background-color: var(--background-color);
    }
  }

  @media screen and (min-width: 768px) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerbg/Header-tab.jpg');
      background-color: var(--background-color);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerbg/Header-tab@2x.jpg');
      background-color: var(--background-color);
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerbg/bg.jpg');
      background-color: var(--background-color);
      height: 600px;
    }
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerbg/bg@2x.jpg');
      background-color: var(--background-color);
    }
  }
}

.hero {
  &__title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);

    @media screen and(min-width: 1200px) {
      font-size: 44px;
      line-height: 1.4;
    }
  }
}
