.hero {
  margin-left: auto;
  margin-right: auto;
  //padding-top: 118px;
  //padding-bottom: 118px;
  //height: 400px;
  text-align: center;
  color: var(--white);
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/headerbg/Header-mob.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
   .hero{
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerbg/Header-mob@2x.jpg');
    background-color: #2f303a;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerbg/Header-tab.jpg');
    background-color: #2f303a;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerbg/Header-tab@2x.jpg');
    background-color: #2f303a;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerbg/bgpc.jpg');
    background-color: #2f303a;
    height: 600px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerbg/bg@2x.jpg');
    background-color: #2f303a;
  }
}

  .hero {
    &__title {
      margin-top: 0px;
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.61;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white);

     @media screen and (min-width: 480px) {
     font-size: 26px;
     max-width: 360px;
      }

      @media screen and(min-width: 1200px) {
        font-size: 44px;
        line-height: 1.4;
      }
    }
  }

/*.hero {
    background-color: #2f303a;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    color: var(--white);
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/headerbg/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .hero__title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
 } */
