.services {
  @media screen and(max-width: 1199px) {
    display: none;
  }
  @media screen and(min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.services {
  &__title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.7;
    text-align: center;
  }
}

.services-list {
  @extend %ul;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  & :nth-child(3) {
    margin-right: 0px;
  }
}

.services-list {
  &__card {
    width: calc((100% - 60px) / 3);
    margin-right: var(--list-gap);
    position: relative;
  }
}

// .services-list > .services-list__card {
//   width: calc((100% - 60px) / 3);
//   margin-right: 0;
// }

// .services-list:nth-child(3) {
//   margin-right: 0px;
// }

.services-list__card .services-list__link {
  display: block;
}

.services-list__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.services-list__overlay {
  //   position: relative;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
