.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo {
    &--blue {
        color: var(--blue);
    }

    &--black {
        color: var(--black);
    }

    &--white {
        color: var(--white);
    }
}