.modal--btn {
    color: var(--white);
    background-color: var(--blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    border: 0;

    &:hover &:focus {
            color: var(--blue);
        }
}

